<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./MasterPage.xhtml">

            <ui:define name="content">

                <h:form>
                    <p:messages id="message" showDetail="true" closable="true">
                        <p:autoUpdate />
                    </p:messages>


                    <h1><h:outputText value="Nuevo Ingreso Vehículo"/></h1>
                    <p:panelGrid columns="2">

                        <p:outputLabel value="Patente:" for="patente" />
                        <p:inputText id="patente" value="#{vehiculoController.patente}" title="Patente" required="true" />
                        <p:outputLabel value="Clase:" for="clase" />
                        <p:inputText id="clase" value="#{vehiculoController.clase}" title="Clase" required="true" />
                        <p:outputLabel value="Capacidadkg:" for="capacidadkg" />
                        <p:inputText id="capacidadkg" value="#{vehiculoController.capacidadkg}" title="Capacidadkg" required="true" />
                        <p:outputLabel value="Cmancho:" for="cmancho" />
                        <p:inputText id="cmancho" value="#{vehiculoController.cmancho}" title="Cmancho" required="true" />
                        <p:outputLabel value="Cmalto:" for="cmalto" />
                        <p:inputText id="cmalto" value="#{vehiculoController.cmalto}" title="Cmalto" required="true" />
                        <p:outputLabel value="Cmlargo:" for="cmlargo" />
                        <p:inputText id="cmlargo" value="#{vehiculoController.cmlargo}" title="Cmlargo" required="true" />

                        <p:outputLabel for="frigorifico" value="Frigorífico:" />

                        <p:selectOneMenu id="frigorifico" value="#{vehiculoController.frigorifico}" style="width:125px" required="true">
                            <f:selectItem itemLabel="Sí" itemValue="1" />
                            <f:selectItem itemLabel="No" itemValue="0" />
                        </p:selectOneMenu>

                        
                        <p:commandButton
                            type="submit" onclick="return confirm('¿Seguro desea ingresar este Vehículo?')"
                            value="Ingresar Vehículo"
                            action="#{vehiculoController.ingresarVehiculo()}"
                            update="@form message"/>

                    </p:panelGrid>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

