<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Editar Usuario</title>
    </h:head>
    <h:body>
        <f:view>
            <ui:composition template="./MasterPage.xhtml">
                <ui:define class="container" name="content">

                    <c:if test="#{session.getValue('rol') == null}">
                        <script type="text/javascript">
                            window.location.href = "index.xhtml";
                        </script>
                    </c:if>
                    <center>
                        <h2>Modificar Perfil</h2>
                        <h6>- Este Perfil Corresponde a #{usuarioBean.nombre} #{usuarioBean.appaterno}.</h6>
                        <h6>- Empresa a cargo: #{empresaController.obtenerNombreEmpresaLogueada()}.</h6>
                        <c:if test="#{session.getValue('rol') == 'Productor' ||session.getValue('rol') == 'Transportista' }">
                        </c:if>
                    </center>

                    <f:event listener="#{usuarioBean.llenarlista()}" type="postAddToView"/>
                    <h:form id="form3" > <p:outputPanel id="userDetail" style="text-align:left;">
                            <f:facet name="header">
                            </f:facet>

                            <p:messages globalOnly="true">
                                <p:autoUpdate />
                            </p:messages>
                            <!-- CONTENIDOS -->

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-envelope gris" /> Correo electrónico:</label>

                                        <h:inputText id="correo" class="form-control redondo"  required="true"
                                                     requiredMessage="Ingrese Correo"
                                                     validatorMessage="Correo Inválido" value="#{usuarioBean.email}" >
                                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                        </h:inputText>
                                        <div class="separador"/>
                                        <p:message for="correo" class="form-text redondo" />
                                    </div>
                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-key gris"/> Contraseña:</label>
                                        <h:inputSecret id="password" class="form-control redondo" value="#{usuarioBean.contrasena}" redisplay="true" required="true" requiredMessage="Ingrese contraseña"/>
                                        <div class="separador"/>
                                        <p:message for="password" class="form-text"/>
                                    </div>

                                    <div class="form-group">

                                        <label class="sub-sty"><i class="fa  fa-key gris" /> Reingrese contraseña:</label>
                                        <h:inputSecret id="confirm" value="#{usuarioBean.contrasena2}" class="form-control redondo"  redisplay="true" required="true" requiredMessage="Repita Contraseña"/>
                                        <div class="separador"/>
                                        <h:panelGroup>

                                            <p:message for="confirm"  class="form-text redondo"/>

                                            <o:validateEqual id="equal"  components="password confirm"
                                                             message="Las contraseñas no coinciden" showMessageFor="password" />
                                        </h:panelGroup>
                                    </div>
                                </div>

                                <hr class="hr-v"/>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-user-circle gris"/> Nombre Completo</label>
                                        <h:inputText id="nombre" class="form-control redondo" value="#{usuarioBean.nombre}" required="true"
                                                     requiredMessage="Ingrese Nombre" 
                                                     validatorMessage="Nombre inválido">
                                            <f:validateRegex  pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)" />
                                        </h:inputText>
                                        <div class="separador"/>
                                        <p:message for="nombre" class="alert-danger"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-user-circle gris"/> Apellido Paterno:</label>
                                        <h:inputText id="paterno" class="form-control redondo" value="#{usuarioBean.appaterno}" required="true"
                                                     requiredMessage="Ingrese Apellido"
                                                     validatorMessage="Apellido Paterno inválido">
                                            <f:validateRegex pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)"/>
                                        </h:inputText>
                                        <div class="separador"/>
                                        <p:message for="paterno" class="alert-danger" />
                                    </div>

                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-user-circle gris"/> Apellido Materno:</label>
                                        <h:inputText id="materno" class="form-control redondo" value="#{usuarioBean.apmaterno}" required="true"
                                                     requiredMessage="Ingrese Apellido Materno"
                                                     validatorMessage="Apellido Inválido">
                                            <f:validateRegex pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)"/>
                                        </h:inputText>
                                        <div class="separador"/>
                                        <p:message for="materno" class="form-text alert-danger rounded"/>
                                    </div>
                                    <!-- EMPRESA-->

                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-venus-mars gris"/> Sexo:</label>
                                        <p:selectOneRadio id="sexo" class="form-control redondo" required="true" value="#{usuarioBean.sexo}" 
                                                          requiredMessage="Seleccione Sexo" validatorMessage="Seleccione Sexo" >
                                            <f:selectItem itemLabel="Masculino" itemValue='M' />
                                            <f:selectItem itemLabel="Femenino" itemValue='F' />
                                        </p:selectOneRadio>
                                        <div class="separador"/>
                                        <p:message for="sexo" class="alert-danger"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <h:outputLabel for="password" value="Rut Identificador " />
                                        <p:inputText id="rut" class="form-control redondo"  required="true"
                                                     requiredMessage="Ingrese Rut"
                                                     validatorMessage="Rut inválido" value="#{usuarioBean.rut_representante}" placeholder="xxxxxxxx-k">
                                            <f:validateLength minimum="9" maximum="12"/>
                                            <f:validateRegex pattern="(^0?[1-9]{1,2})(?>((\.\d{3}){2}\-)|((\d{3}){2}\-)|((\d{3}){2}))([\dkK])$" />
                                            <f:validator validatorId="ValidadorRut"/>
                                        </p:inputText>
                                        <div class="separador"/>
                                        <p:message for="rut" class="alert-danger"/>


                                    </div>

                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-calendar gris"/> Fecha Nacimiento:</label>
                                        <p:calendar id="fecha" value="#{usuarioBean.fecha_nacimiento}" required="true" 
                                                    navigator="true" pattern="dd/mm/yyyy" locale="es" yearRange="c-70:c+70" readonlyInput="true" placeholder="Click aqui.."
                                                    inputStyleClass="form-control" requiredMessage="Ingrese Fecha" validatorMessage="Fecha inválida"
                                                    />
                                        <div class="separador"/>
                                        <p:message for="fecha" class="alert-danger"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-phone gris"/> Fono:</label>
                                        <p:inputText id="fono1" class="form-control redondo" value="#{usuarioBean.fono_1}" required="true" type="number"
                                                     requiredMessage="Ingrese Teléfono"
                                                     validatorMessage="Teléfono inválido">

                                        </p:inputText>
                                        <div class="separador"/>
                                        <p:message for="fono1" class="alert-danger"/>

                                    </div>

                                    <div class="form-group">
                                        <label class="sub-sty"><i class="fa fa-map-marker gris"/> Dirección:</label>
                                        <p:inputText id="direccion" class="form-control redondo" value="#{usuarioBean.direccion}" required="true"
                                                     requiredMessage="Ingrese Dirección"
                                                     validatorMessage="Dirección inválido">

                                        </p:inputText>
                                        <div class="separador"/>
                                        <p:message for="direccion" class="alert-danger"/>

                                    </div>

                                </div>
                            </div>


                            <!-- botones oncomplete="PF('userDialog').hide()"-->
                            <hr/>
                            <center>
                                <p:commandButton actionListener="#{usuarioBean.editar()}" value="Confirmar" icon="fa fa-check" update="form3:userDetail" onclick="return confirm('¿Seguro desea actualizar su perfil?')">
                                </p:commandButton>
                            </center>
                        </p:outputPanel>
                    </h:form>
                </ui:define>
            </ui:composition>
        </f:view>
    </h:body>
</html>