<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Lista de Pedidos</title>
    </h:head>
    <!-- Autor Cristian Esquivel -->
    <h:body>
        <ui:composition template="./MasterPage.xhtml">
            <ui:define name="content">
                <!--
                                <c:if test="#{session.getValue('rol') != 'Productor'} && #{session.getValue('rol') != 'Cliente Int'}">
                                    <script type="text/javascript">
                                        window.location.href = "index.xhtml";
                                    </script>
                                </c:if>
                -->
                <div class="container-fluid">
                    <f:view>
                        <div class="container-fluid text-center border rounded p-2 m-2">
                            <h:form>
                                <c:if test="#{session.getValue('rol') != 'Productor'}">
                                    <h1><h:outputText value="Lista de Pedidos"/></h1>
                                </c:if>


                                <c:if test="#{session.getValue('rol') == 'Productor'}">
                                    <p:steps activeIndex="0" styleClass="custom" readonly="false">
                                        <p:menuitem value="Seleccionar un Pedido" url="./listaPedidos.xhtml"/>
                                        <p:menuitem value="Ver Detalle de Pedido" url="./verDetallePedido.xhtml"/>
                                        <p:menuitem value="Ofertar Lote a Pedido" url="./ofertarLotes.xhtml"/>
                                    </p:steps>
                                </c:if>

                                <c:set var = "rolParaFiltro" scope = "request" value = "#{session.getValue('rol')}"/>
                                <p:dataTable value="#{pedidoController.listarPedidosPorRol(rolParaFiltro)}" var="item" paginator="true" paginatorPosition="top" rows="10" emptyMessage="No hay Pedidos Registrados" widgetVar="pedidosTable">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Id Pedido"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idpedido}"/>
                                    </p:column>

                                    <c:if test="#{session.getValue('rol') == 'Productor'}">
                                        <p:column filterBy="#{item.idrepresentante.rolrepresentante}" filterMatchMode="equals">
                                            <f:facet name="header">
                                                <h:outputText value="Cliente"/>
                                            </f:facet>
                                            <f:facet name="filter">
                                                <p:selectOneButton onchange="PF('pedidosTable').filter()">
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Int" itemValue="Cliente Int" />
                                                    <f:selectItem itemLabel="Ext" itemValue="Cliente Ext" />
                                                </p:selectOneButton>
                                            </f:facet>
                                            <h:outputText value="#{item.idrepresentante.nombre} #{item.idrepresentante.appaterno} #{item.idrepresentante.apmaterno}"/>
                                        </p:column>
                                    </c:if>    

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Fecha de Ingreso"/>
                                        </f:facet>
                                        <h:outputText value="#{item.fechainiciopedido}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column filterBy="#{item.estadopedido}" filterMatchMode="exact">
                                        <f:facet name="header">
                                            <h:outputText value="Estado Entrega"/>
                                        </f:facet>
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('pedidosTable').filter()" styleClass="custom-filter">
                                                <f:selectItem itemLabel="Seleccione Filtro" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Requiere Validación" itemValue="Requiere Validación" />
                                                <f:selectItem itemLabel="Requiere Negociación" itemValue="Requiere Negociación" />
                                                <f:selectItem itemLabel="Subastado" itemValue="Subastado" /> 
                                                <f:selectItem itemLabel="A Despachar" itemValue="A Despachar" />
                                                <f:selectItem itemLabel="En Recorrido" itemValue="En Recorrido" />
                                                <f:selectItem itemLabel="Entregado" itemValue="Entregado" />
                                                <f:selectItem itemLabel="Anulado" itemValue="Anulado" />
                                                <f:selectItem itemLabel="Completado" itemValue="Completado" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{item.estadopedido}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.vigente}" filterMatchMode="equals">
                                        <f:facet name="header">
                                            <h:outputText value="Vigente"/>
                                        </f:facet>
                                        <f:facet name="filter">
                                            <p:selectOneButton onchange="PF('pedidosTable').filter()">
                                                <f:converter converterId="javax.faces.Character"/>
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                                                <f:selectItem itemLabel="Si" itemValue="1" />
                                                <f:selectItem itemLabel="No" itemValue="0" />
                                            </p:selectOneButton>
                                        </f:facet>
                                        <h:outputText value="#{item.vigente=='1'?'Si':'No'}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Ver Detalle"/>
                                        </f:facet>
                                        <p:commandButton value="Ver Detalle" action="#{pedidoController.verDetallePedido(item)}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                            <br/><br/><br/>
                        </div>
                    </f:view>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>