<?xml version="1.0" encoding="UTF-8"?>
<!-- Creado por Maximiliano González -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/Admin.css"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"></link>
    <link href="resources/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css"/>
    <script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;


        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 6px 10px 11px 0px rgba(0,0,0,0.25);
            padding: 30px;
            border-radius: 14px 14px 14px 14px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
            background-color: #1FC853;
        }
        .logo1{
            max-width: 240px;
            text-align: center;
            margin-bottom: 50px;

        }
        .logo_frutas{
            max-width: 110px;
            text-align: center;
            margin-bottom: -20px;

        }
        .fondo-mid{

            background-size: 400px;
            background-repeat: round;
            background-image: url(resources/img/collage-frutas.jpg);
            max-height: 420px;
            width: 101%;
            border:5px solid #738284;


        }
        .fondo-all{
            background-color:#689A5D;
            height: 260px;
            margin-top:-20%;
            width: 101%;
        }
        .fondo-all2{
            background-color: #D8FFBE;
            height: 260px;
            margin-bottom: -90%;
            width: 101%;

        }
        .redondo{
            border-radius:5px;

        }
        .separador{
            height: 4px;

        }
        .sub-sty{
            letter-spacing: 0.7px;
        }
        .gris{
            color: #738284;
        }
        .hr-v{    
            border: none;
            border-left:1px solid hsl(180, 0%, 93%);
            height:auto;
            width:1px;       
        }
    </style>
    <h:head>
        <title>Ingreso Feria Virtual</title>
    </h:head>

    <h:body style="background-color: #D8FFBE">

        <f:view>

            <!--
            <c:if test="#{session.getValue('rol') != null}">
                <script type="text/javascript">
                    window.location.href = "index.xhtml";
                </script>
            </c:if> -->

            <div class="fondo-all row " ></div>
            <div class="fondo-mid row" >
                <div class="login-form"  >

                    <h:form id="form" prependId="false" >
                        <center>
                            <img src="resources/img/frutas_login.png" class="logo_frutas" alt=""/>
                            <img src="resources/img/Feria VirtualMaipo Grande.png" alt="" class="logo1"/>
                        </center>

                        <h4 class="text" >Inicio Sesión</h4>

                        <div class="form-group">
                            <h:inputText id="email" class="form-control redondo" a:placeholder="Correo" required="true" 
                                         requiredMessage="Ingrese Correo"
                                         validatorMessage="Correo inválido"
                                         value="#{loginController.email}" >
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />

                            </h:inputText>



                        </div>
                        <div class="form-group">
                            <h:inputSecret id="pass" class="form-control redondo" a:placeholder="Contraseña" required="true" 
                                           requiredMessage="Ingrese Contraseña"
                                           value="#{loginController.pass}"/>

                        </div>
                        <div class="form-group">
                            <h:commandButton value="Ingresar" action="#{loginController.autenticar()}" class="btn btn-primary btn-block" />
                            <!-- update=":form:userDetail" -->

                            <div class="row">
                                <div class="col" style="display:inline;">
                                    <p:commandLink  oncomplete="PF('userDialog').show()">
                                        <label style="font-size: smaller"><i class="fa fa-chevron-right sub-sty"  style="font-size: 12px;"/> Crear Usuario </label>
                                    </p:commandLink>
                                </div>

                                <!--AFILIARSE-->
                                <div class="col" style="display:inline;">
                                    <p:commandLink  oncomplete="PF('afiliarDialog').show()">
                                        <label style="font-size: smaller"><i class="fa fa-chevron-right sub-sty"  style="font-size: 12px;"/> Como Afiliarse </label>
                                    </p:commandLink>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix">
                            <!--   <label class="pull-left checkbox-inline"><input type="checkbox"> Recordar </input></label> -->
                        </div> 
                        <h:messages style="color: #CD5C5C; animation: ease-in-out"/>

                        <!-- MODAL -->
                    </h:form>

                    <p:dialog id="modalcrear" header="Crear usuario" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
                        <h:form id="form3" > <p:outputPanel id="userDetail" style="text-align:left;">
                                <f:facet name="header">
                                </f:facet>

                                <p:messages globalOnly="true">
                                    <p:autoUpdate />
                                </p:messages>
                                <!-- CONTENIDOS -->

                                <div class="row">


                                    <div class="col">
                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-envelope gris" /> Correo electrónico</label>

                                            <h:inputText id="correo" class="form-control redondo"  required="true"
                                                         requiredMessage="Ingrese Correo"
                                                         validatorMessage="Correo Inválido" value="#{usuarioBean.email}" >
                                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                            </h:inputText>
                                            <div class="separador"/>
                                            <p:message for="correo" class="form-text redondo" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-key gris"/> Contraseña</label>
                                            <h:inputSecret id="password" class="form-control redondo" value="#{usuarioBean.contrasena}" redisplay="true" required="true" requiredMessage="Ingrese contraseña"/>
                                            <div class="separador"/>
                                            <p:message for="password" class="form-text"/>
                                        </div>        
                                        <div class="form-group">

                                            <label class="sub-sty"><i class="fa  fa-key gris" /> Reingrese contraseña</label>
                                            <h:inputSecret id="confirm" value="#{usuarioBean.contrasena2}" class="form-control redondo"  redisplay="true" required="true" requiredMessage="Repita Contraseña"/>
                                            <div class="separador"/>
                                            <h:panelGroup>

                                                <p:message for="confirm"  class="form-text redondo"/>

                                                <o:validateEqual id="equal"  components="password confirm"
                                                                 message="Las contraseñas no coinciden" showMessageFor="password" />
                                            </h:panelGroup>
                                        </div>

                                        <div class="form-group ">
                                            <label class="sub-sty"><i class="fa  fa-briefcase gris" /> Rol</label>
                                            <p:selectOneMenu id="rol" value="#{usuarioBean.representante.rolrepresentante}" converter="omnifaces.SelectItemsConverter" required="true"  
                                                             requiredMessage="Seleccione Rol" validatorMessage="Seleccione Rol" style="min-width: 100%">
                                                <f:selectItem itemLabel="Seleccione Rol"  noSelectionOption="true" />
                                                <f:selectItems value="#{usuarioBean.lstroles}" var="rlst" itemLabel="#{rlst}" itemValue="#{rlst}"/>
                                            </p:selectOneMenu>
                                            <div class="separador"/>
                                            <p:message for="rol" class="alert-danger"/>
                                        </div>




                                    </div>

                                    <hr class="hr-v"/>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-user-circle gris"/> Nombre</label>
                                            <h:inputText id="nombre" class="form-control redondo" value="#{usuarioBean.nombre}" required="true"
                                                         requiredMessage="Ingrese Nombre" 
                                                         validatorMessage="Nombre inválido">
                                                <f:validateRegex  pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)" />
                                            </h:inputText>
                                            <div class="separador"/>
                                            <p:message for="nombre" class="alert-danger"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-user-circle gris"/> Apellido Paterno</label>
                                            <h:inputText id="paterno" class="form-control redondo" value="#{usuarioBean.appaterno}" required="true"
                                                         requiredMessage="Ingrese Apellido"
                                                         validatorMessage="Apellido Paterno inválido">
                                                <f:validateRegex pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)"/>
                                            </h:inputText>
                                            <div class="separador"/>
                                            <p:message for="paterno" class="alert-danger" />
                                        </div>

                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-user-circle gris"/> Apellido Materno</label>
                                            <h:inputText id="materno" class="form-control redondo" value="#{usuarioBean.apmaterno}" required="true"
                                                         requiredMessage="Ingrese Apellido Materno"
                                                         validatorMessage="Apellido Inválido">
                                                <f:validateRegex pattern="([a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*)"/>
                                            </h:inputText>
                                            <div class="separador"/>
                                            <p:message for="materno" class="form-text alert-danger rounded"/>
                                        </div>
                                        <!-- EMPRESA-->

                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-venus-mars gris"/> Sexo</label>
                                            <p:selectOneRadio id="sexo" class="form-control redondo" required="true" value="#{usuarioBean.sexo}" 
                                                              requiredMessage="Seleccione Sexo" validatorMessage="Seleccione Sexo" >
                                                <f:selectItem itemLabel="M" itemValue='1' /><label>asd</label>
                                                <f:selectItem itemLabel="F" itemValue='0' />
                                            </p:selectOneRadio>
                                            <div class="separador"/>
                                            <p:message for="sexo" class="alert-danger"/>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-address-card gris"/> Rut</label>
                                            <p:inputText id="rut" class="form-control redondo"  required="true"
                                                         requiredMessage="Ingrese Rut"
                                                         validatorMessage="Rut inválido" value="#{usuarioBean.rut_representante}" placeholder="xxxxxxxx-k">
                                                <f:validateLength minimum="9" maximum="12"/>
                                                <f:validateRegex pattern="(^0?[1-9]{1,2})(?>((\.\d{3}){2}\-)|((\d{3}){2}\-)|((\d{3}){2}))([\dkK])$" />
                                                <f:validator validatorId="ValidadorRut"/>
                                            </p:inputText>
                                            <div class="separador"/>
                                            <p:message for="rut" class="alert-danger"/>


                                        </div>

                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-calendar gris"/> Fecha Nacimiento</label>
                                            <p:calendar id="fecha" value="#{usuarioBean.fecha_nacimiento}" required="true" 
                                                        navigator="true" pattern="dd/mm/yyyy" locale="es" yearRange="c-70:c+70" readonlyInput="true" placeholder="Click aqui.."
                                                        inputStyleClass="form-control" requiredMessage="Ingrese Fecha" validatorMessage="Fecha inválida"
                                                        />
                                            <div class="separador"/>
                                            <p:message for="fecha" class="alert-danger"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-phone gris"/> Fono</label>
                                            <p:inputText id="fono1" class="form-control redondo" value="#{usuarioBean.fono_1}" required="true" type="number"
                                                         requiredMessage="Ingrese Teléfono"
                                                         validatorMessage="Teléfono inválido">

                                            </p:inputText>
                                            <div class="separador"/>
                                            <p:message for="fono1" class="alert-danger"/>

                                        </div>

                                        <div class="form-group">
                                            <label class="sub-sty"><i class="fa fa-map-marker gris"/> Dirección</label>
                                            <p:inputText id="direccion" class="form-control redondo" value="#{usuarioBean.direccion}" required="true"
                                                         requiredMessage="Ingrese Dirección"
                                                         validatorMessage="Dirección inválido">

                                            </p:inputText>
                                            <div class="separador"/>
                                            <p:message for="direccion" class="alert-danger"/>

                                        </div>

                                    </div>
                                </div>

                                <!-- botones oncomplete="PF('userDialog').hide()"-->
                                <hr/>
                                <center>

                                    <p:commandButton actionListener="#{usuarioBean.crear()}" value="Confirmar" icon="fa fa-check" update="form3:userDetail"
                                                     >

                                    </p:commandButton>
                                </center>


                            </p:outputPanel></h:form>

                    </p:dialog>

                    <p:dialog id="modalAfiliar" header="Como Afiliarse" widgetVar="afiliarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
                        <h:form id="formAfiliacion" > 
                            <p:outputPanel id="afiliacionDetail" style="text-align:left;">
                                <f:facet name="header">
                                </f:facet>

                                <p:messages globalOnly="true">
                                    <p:autoUpdate />
                                </p:messages>
                                <label style="font-size: medium"><i class="sub-sty"  style="font-size: 12px;"/>

                                    Maipo Grande es una empresa joven con más de 40 años de experiencia, pero lo más importante es que <br/>
                                    tenemos ganas de colaborar contigo para aportar soluciones. Para nosotros hablar de calidad, frescura <br/>
                                    y presentación es algo que se da por supuesto, lo que queremos ofrecerte es SERVICIO. Queremos poner <br/>
                                    a tu servicio nuestra experiencia y nuestros conocimiento en el sector.<br/><br/>

                                    <b>EXPERIENCIA</b>
                                    <br/>

                                    Más de 40 años dedicados a la distribución de los mejores productos frutícolas avalan a nuestra empresa.
                                    <br/><br/>
                                    <b>SERVICIO</b>
                                    <br/>

                                    - Máxima calidad.<br/>
                                    - Disponibilidad de producto en cualquier momento de campaña.<br/>
                                    - Transporte a medida, minimizando tiempos entre pedido y entrega.<br/>
                                    - Formatos exclusivos adaptados a las necesidades de cada cliente.<br/>
                                    - Comunicación Web cliente-proveedor.<br/>
                                    - Seguridad alimentaria.
                                    <br/><br/>
                                    ¿Quieres trabajar con nosotros? 
                                    <a target="_blank" href="resources/pdf/Contrato.pdf"><b>Descarga este PDF</b></a>
                                    y llénalo con tus datos, enviándolo al siguente mail:<br/>
                                    <p style="color:#389322">contacto@maipogrande.cl</p> ¡En un plazo de una semana nos comunicaremos contigo!



                                </label>
                            </p:outputPanel>
                        </h:form>
                    </p:dialog>


                </div>
            </div>
            <div class="fondo-all2 row" ></div>
            <div id="bottom">
                <ui:insert name="bottom">
                    <footer class="page-footer font-small blue fixed-bottom">
                        <div class="footer-copyright text-center py-3 topbarcolor" style="color: white">© 2019 Copyright Maipo Grande - Feria Virtual</div>
                    </footer>
                </ui:insert>
            </div>
        </f:view>

    </h:body>
</html>
