<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/Admin.css"></link>
    <link href="resources/css/primefacesUriel.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"></link>
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Master Page</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top" >
                <body>
                    <div class="container" style="margin-bottom: -30px;">
                        <nav class="navbar navbar-expand-lg navbar-default fixed-top topbarcolor">
                            <a class="navbar-brand tungsten-white mr-1" href="index.xhtml?faces-redirect=true">Feria Virtual</a>
                            <a class="navbar-brand tungsten-black ml-1" href="index.xhtml?faces-redirect=true">Maipo Grande</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto"></ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user"></i>   #{session.getValue("nombre")} #{session.getValue("apellido1")}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"> 
                                            <button class="dropdown-item" type="button">
                                                <p:link value="Modificar Perfil" outcome="editarUsuario?faces-redirect=true" />
                                            </button>
                                            <h:form>
                                                <h:commandButton class="dropdown-item" value="Cerrar Sesión" action="#{loginController.cerrarSesion()}" ></h:commandButton>
                                            </h:form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </body>
            </ui:insert>
        </div>

        <!--MENUS-->
        <h:form>
            <div class="fixed-top2">
                <c:choose>
                    <c:when test="#{session.getValue('rol') == 'Productor'}">
                        <p:tabMenu activeIndex="#{param.i}">
                            <p:menuitem value="Inicio" outcome="index?faces-redirect=true">
                                <f:param name="i" value="0" />
                            </p:menuitem>
                            <p:menuitem value="Gestionar Lotes de Productos" outcome="gestionarLotes?faces-redirect=true">
                                <f:param name="i" value="1" />
                            </p:menuitem>
                            <p:menuitem value="Ofertar Lotes de Productos" outcome="listaPedidos?faces-redirect=true">
                                <f:param name="i" value="2" />
                            </p:menuitem>
                            <p:menuitem value="Contáctanos" outcome="contactenos?faces-redirect=true">
                                <f:param name="i" value="4" />
                            </p:menuitem>
                        </p:tabMenu>
                    </c:when>

                   <c:when test="#{session.getValue('rol') == 'Transportista'}"> 
                        <p:tabMenu activeIndex="#{param.i}"> 
                            <p:menuitem value="Inicio" outcome="index?faces-redirect=true"> 
                                <f:param name="i" value="0" /> 
                            </p:menuitem> 
                            <p:menuitem value="Ver Vehículos" outcome="Vehiculo?faces-redirect=true"> 
                                <f:param name="i" value="1" /> 
                            </p:menuitem> 
                            <p:menuitem value="Ver Subastas" outcome="verSubastas?faces-redirect=true"> 
                                <f:param name="i" value="2" /> 
                            </p:menuitem> 
                            <p:menuitem value="Ver Ofertas De Transporte" outcome="verOfertas?faces-redirect=true"> 
                                <f:param name="i" value="3" /> 
                            </p:menuitem> 
                            <p:menuitem value="Estado Pedidos" outcome="verPedidosTransportista?faces-redirect=true"> 
                                <f:param name="i" value="4" /> 
                            </p:menuitem> 
                            <p:menuitem value="Contáctanos" outcome="contactenos?faces-redirect=true"> 
                                <f:param name="i" value="5" /> 
                            </p:menuitem> 
                        </p:tabMenu> 
                    </c:when> 

                    <c:when test="#{session.getValue('rol') == 'Cliente Ext'}">
                        <p:tabMenu activeIndex="#{param.i}">
                            <p:menuitem value="Inicio" outcome="index?faces-redirect=true">
                                <f:param name="i" value="0" />
                            </p:menuitem>
                            <p:menuitem value="Crear Pedido" outcome="crearPedido?faces-redirect=true">
                                <f:param name="i" value="1" />
                            </p:menuitem>
                            <p:menuitem value="Listado de Pedidos" outcome="listaPedidos?faces-redirect=true">
                                <f:param name="i" value="2" />
                            </p:menuitem>
                            <p:menuitem value="Contáctanos" outcome="contactenos?faces-redirect=true">
                                <f:param name="i" value="4" />
                            </p:menuitem>
                        </p:tabMenu>
                    </c:when>

                    <c:when test="#{session.getValue('rol') == 'Cliente Int'}">
                        <p:tabMenu activeIndex="#{param.i}">
                            <p:menuitem value="Inicio" outcome="index?faces-redirect=true">
                                <f:param name="i" value="0" />
                            </p:menuitem>
                            <p:menuitem value="Crear Pedido" outcome="crearPedido?faces-redirect=true">
                                <f:param name="i" value="1" />
                            </p:menuitem>
                            <p:menuitem value="Listado de Pedidos" outcome="listaPedidos?faces-redirect=true">
                                <f:param name="i" value="2" />
                            </p:menuitem>
                            <p:menuitem value="Contáctanos" outcome="contactenos?faces-redirect=true">
                                <f:param name="i" value="4" />
                            </p:menuitem>
                        </p:tabMenu>
                    </c:when>
                    <c:otherwise>
                        <script type="text/javascript">
                            window.location.href = "login.xhtml";
                        </script>
                    </c:otherwise>
                </c:choose>
            </div>
        </h:form>



        <!--
        <div id="topnav" class="center_content container-fluid">
            <ui:insert name="topnav">
                <body>
                    <div class="container" style="margin-top: 0px">
                        <ul class="nav nav-tabs" >
                            <li class="nav-item">
                                <p:link class="nav-link" value="Inicio" outcome="index?faces-redirect=true"/>
                                <a class="nav-link active" href="faces/index.xhtml">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Crear Pedido" outcome="crearPedido?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Crear Vehículo" outcome="Vehiculo?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Crear Usuario" outcome="crearUsuario?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Ver Subastas" outcome="verSubastas?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Ver Ofertas De Transporte" outcome="verOfertas?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Gestionar Lotes de Productos" outcome="gestionarLotes?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Ofertar Lotes de Productos" outcome="ofertarLotes?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Listado de Pedidos" outcome="listaPedidos?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Contactenos" outcome="contactenos?faces-redirect=true"/>
                            </li>
                            <li class="nav-item">
                                <p:link class="nav-link" value="Nosotros" outcome="nosotros?faces-redirect=true"/>
                            </li>
                        </ul>
                    </div>
                </body>
            </ui:insert>
        </div>
        -->

        <div id="content" class="center_content container-fluid" style="height: 80vh">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom">
            <br/><br/>
            <ui:insert name="bottom">
                <footer class="page-footer font-small blue fixed-bottom">

                    <div class="row footer-copyright text-center py-3 topbarcolor" style="color: white">
                        <div class="col">
                        </div>
                        <div class="col">
                            © 2019 Copyright Maipo Grande - Feria Virtual
                        </div>

                        <div class="col">
                            <a target="_blank" href="https://www.facebook.com/Maipo-Grande-Feria-Virtual-100851554741419/" class="fab fa-facebook-square" style="font-size: 40px;"></a>
                            <a target="_blank" href="http://www.twitter.com/FeriaMaipo" class="fab fa-twitter-square" style="font-size: 40px;"></a>
                            <a target="_blank" href="https://www.instagram.com/maipogrande_feriavirtual/" class="fab fa-instagram" style="font-size: 40px;"></a>
                        </div>
                    </div>

                </footer>
            </ui:insert>
        </div>

    </h:body>

</html>
