<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="./MasterPage.xhtml">   
            <ui:define name="content">


                <h:form>

                    <h1><h:outputText value="Modificar Vehículo"/></h1>
                    
                    <h:link value="Agregar Vehículo" outcome="crearVehiculo"></h:link>

                    <p:panelGrid columns="2">

                        <p:outputLabel value="idvehiculo" for="idvehiculo"/>
                        <p:inputText id="idvehiculo" value="#{vehiculoController.TVehiculo.idvehiculo}" 
                                     title="idvehiculo" readonly="true"/>

                     <p:outputLabel value="Patente:" for="patente" />
                     
                        <p:inputText id="patente" value="#{vehiculoController.TVehiculo.patente}" title="Patente" required="true" requiredMessage="Ingresar Patente a editar"/>
                        <p:outputLabel value="Clase:" for="clase" />
                        <p:inputText id="clase" value="#{vehiculoController.TVehiculo.clase}" title="Clase" required="true" requiredMessage="Ingresar Clase field a editar"/>
                        <p:outputLabel value="Capacidadkg:" for="capacidadkg" />
                        <p:inputText id="capacidadkg" value="#{vehiculoController.TVehiculo.capacidadkg}" title="Capacidadkg" required="true" requiredMessage="The Capacidadkg field is required."/>
                        <p:outputLabel value="Cmancho:" for="cmancho" />
                        <p:inputText id="cmancho" value="#{vehiculoController.TVehiculo.cmancho}" title="Cmancho" required="true" requiredMessage="The Cmancho field is required."/>
                        <p:outputLabel value="Cmalto:" for="cmalto" />
                        <p:inputText id="cmalto" value="#{vehiculoController.TVehiculo.cmalto}" title="Cmalto" required="true" requiredMessage="The Cmalto field is required."/>
                        <p:outputLabel value="Cmlargo:" for="cmlargo" />
                        <p:inputText id="cmlargo" value="#{vehiculoController.TVehiculo.cmlargo}" title="Cmlargo" required="true" requiredMessage="The Cmlargo field is required."/>
                        <p:outputLabel for="frigorifico" value="Frigorífico:" />
                        
                        <p:selectOneMenu id="frigorifico" value="#{vehiculoController.TVehiculo.frigorifico}" style="width:125px">
                            <f:selectItem itemLabel="Sí" itemValue="1" />
                            <f:selectItem itemLabel="No" itemValue="0" />
                        </p:selectOneMenu>
                        
                 
                        
                                                
                        <p:commandButton
                            type="submit" onclick="return confirm('¿Seguro desea editar este Vehículo?')"
                            value="Modificar Vehículo"
                            action="#{vehiculoController.modificarVehiculo()}"
                            />
                        
                    </p:panelGrid>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>



