<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Crear Pedido</title>
    </h:head>
    <h:body>
        <ui:composition template="./MasterPage.xhtml">
            
            <ui:define name="content">
                
                <c:if test="#{session.getValue('rol') != 'Productor'}">
                    <script type="text/javascript">
                        window.location.href = "index.xhtml";
                    </script>
                </c:if>
                
                
                <h:form>
                    <div class="container-fluid text-center border rounded p-2 m-2">


                        <c:if test="#{session.getValue('rol') == 'Productor'}">
                            <p:steps activeIndex="2" styleClass="custom" readonly="false">
                                <p:menuitem value="Seleccionar un Pedido" url="./listaPedidos.xhtml"/>
                                <p:menuitem value="Ver Detalle de Pedido" url="./verDetallePedido.xhtml"/>
                                <p:menuitem value="Ofertar Lote a Pedido" url="./ofertarLotes.xhtml"/>
                            </p:steps>
                        </c:if>

                        <h4>Agregar Lote a Pedido ##{pedidoController.pedido.idpedido}</h4>

                        <div class="border rounded row p-2 m-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row ">
                                            <div class="col-1">
                                                <h:outputText value="ID: #{pedidoController.pedido.idpedido}"/>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Fecha de Ingreso: #{pedidoController.pedido.fechainiciopedido}">
                                                    <f:convertDateTime locale="es_CL" dateStyle="short" type="date" pattern="dd.MM.yyyy HH:mm" />
                                                </h:outputText>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Fecha de Entrega Estipulada: #{pedidoController.pedido.fechaentregaestipulada}">
                                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy HH:mm" />
                                                </h:outputText>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Fecha de Entrega Real: #{pedidoController.pedido.fechaentregareal}"/>
                                            </div>
                                            <p:dialog header="Datos de Representante" widgetVar="dUs" modal="true" height="300" width="500" resizable="false">
                                                <div class="border round col">
                                                    <h5>Datos Cliente</h5>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Rut: "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.rutrepresentante}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Nombre Completo:"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.nombre} #{pedidoController.pedido.idrepresentante.appaterno} #{pedidoController.pedido.idrepresentante.apmaterno}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Sexo: "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.sexo}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="País"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.idempresa.pais}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Fecha Nacimiento "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.fechanacimiento}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Fono de Contacto"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.fono1}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p:dialog> 

                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h:outputText value="Empresa: #{pedidoController.pedido.idrepresentante.idempresa.nombrecomercial}"/>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Dirección: #{pedidoController.pedido.direccion}"/>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Pedido por: #{pedidoController.pedido.idrepresentante.nombre} #{pedidoController.pedido.idrepresentante.appaterno}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <p:commandButton value="Ver Representante" type="button" onclick="PF('dUs').show();" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-left-5"> 
                            <div class="row border rounded m-2">
                                <div class="col-8">
                                    <f:view>
                                        <h4><h:outputText value="Lotes en Stock"/></h4>
                                        <p:dataTable id="tablaLotes" value="#{loteProductoController.listarLotesRepresentante()}" var="item" 
                                                     emptyMessage="No exísten lotes registrados" scrollable="true" scrollHeight="397" rowHover="true"
                                                     style="font-size: 15px">
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="ID"/>
                                                </f:facet>
                                                <h:outputText value="#{item.idloteproducto}"/>
                                            </p:column>


                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Producto"/>
                                                </f:facet>
                                                <h:outputText value="#{item.idproducto.nombre}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Variedad"/>
                                                </f:facet>
                                                <h:outputText value="#{item.idproducto.tipo}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Cantidad"/>
                                                </f:facet>
                                                <h:outputText value="#{item.cantidadproductos} #{item.idunidad.descripcion}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Calidad"/>
                                                </f:facet>
                                                <h:outputText value="#{item.calidad}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Vencimiento"/>
                                                </f:facet>
                                                <h:outputText value="#{item.fechavencimiento.date}-#{item.fechavencimiento.month}-#{item.fechavencimiento.year}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Almacenaje"/>
                                                </f:facet>
                                                <h:outputText value="#{item.condicionesalmacenaje}"/>
                                            </p:column>

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Agregar"/>
                                                </f:facet>
                                                <p:commandButton value="Agregar" action="#{pedidoController.prepareEditPedido(item)}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </f:view>
                                </div>
                                <div class="col-4">
                                    <f:view>
                                        <h4><h:outputText value="Productos del Pedido"/></h4>
                                        <p:dataTable id="tablaPedidos" value="#{pedidoController.listarTodosProductoPedidos(pedidoController.pedido)}" var="pp" 
                                                     emptyMessage="No exísten lotes registrados" scrollable="true" scrollHeight="397" rowHover="true"
                                                     style="font-size: 15px">
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Producto"/>
                                                </f:facet>
                                                <h:outputText value="#{pp.idproducto.nombre} #{pp.idproducto.tipo}"/>
                                            </p:column>


                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Cantidad"/>
                                                </f:facet>
                                                <h:outputText value="#{pp.cantidad} #{pp.idunidad.descripcion}"/>
                                            </p:column>

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Ofrecido"/>
                                                </f:facet>
                                            </p:column>

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Quitar"/>
                                                </f:facet>
                                                <p:commandButton value="Quitar" action="#"/>
                                            </p:column>
                                        </p:dataTable>
                                    </f:view>
                                </div>


                            </div>
                        </div>






                        <p:commandButton value="Completar Oferta" action="#"/>
                    </div>
                    <br/><br/><br/><br/><br/><br/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

