<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Crear Pedido</title>
    </h:head>
    <!-- Autor Cristian Esquivel pedido clientes - pedido transportista Juan Román-->
    <h:body>
        <ui:composition template="./MasterPage.xhtml">
            <ui:define name="content">

                <!--
                <c:if test="#{session.getValue('rol') != 'Productor'} && #{session.getValue('rol') != 'Cliente Int'}">
                    <script type="text/javascript">
                        window.location.href = "index.xhtml";
                    </script>
                </c:if>
                -->

                <h:form>
                    <div class="container-fluid text-center border rounded p-2 m-2">


                        <c:if test="#{session.getValue('rol') == 'Productor'}">
                            <p:steps activeIndex="1" styleClass="custom" readonly="false">
                                <p:menuitem value="Seleccionar un Pedido" url="./listaPedidos.xhtml"/>
                                <p:menuitem value="Ver Detalle de Pedido" url="./verDetallePedido.xhtml"/>
                                <p:menuitem value="Ofertar Lote a Pedido" url="./ofertarLotes.xhtml"/>
                            </p:steps>
                        </c:if>

                        <h4>Ver Detalle Pedido ##{pedidoController.pedido.idpedido}</h4>
                        <p:messages id="message" showDetail="true" closable="true">

                        </p:messages>
                        <div class="border rounded row p-2 m-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row ">
                                            <div class="col-1">
                                                <h:outputText value="ID: #{pedidoController.pedido.idpedido}"/>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <h:outputText value="Fecha de Ingreso: "/>
                                                    <h:outputText value="#{pedidoController.pedido.fechainiciopedido}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                                    </h:outputText>
                                                </div>

                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <h:outputText value="Fecha de Entrega Estipulada: "/>
                                                    <h:outputText value="#{pedidoController.pedido.fechaentregaestipulada}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Fecha de Entrega Real: "/>
                                                <h:outputText value="#{pedidoController.pedido.fechaentregareal==null?'Aún no Especificada':pedidoController.pedido.fechaentregareal}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </div>
                                            <p:dialog header="Datos de Representante" widgetVar="dUs" modal="true" height="200" width="400" resizable="false">
                                                <div class="border round col">
                                                    <h5>Datos Cliente</h5>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Rut: "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.rutrepresentante}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Nombre Completo:"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.nombre} #{pedidoController.pedido.idrepresentante.appaterno} #{pedidoController.pedido.idrepresentante.apmaterno}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Sexo: "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.sexo=='1'? 'Femenino':'Masculino'}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="País"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.idempresa.pais}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Fecha Nacimiento "/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.fechanacimiento}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                                            </h:outputText>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <h:outputText value="Fono de Contacto"/>
                                                        </div>
                                                        <div class="col">
                                                            <h:outputText value="#{pedidoController.pedido.idrepresentante.fono1}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p:dialog> 

                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h:outputText value="Dirección: #{pedidoController.pedido.direccion}"/>
                                            </div>
                                            <div class="col">
                                                <h:outputText value="Pedido por: #{pedidoController.pedido.idrepresentante.nombre} #{pedidoController.pedido.idrepresentante.appaterno}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <p:commandButton value="Ver Representante" type="button" onclick="PF('dUs').show();" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="border rounded row p-2 m-2">
                            <div class="border round col mr-1 pt-2">
                                <p:dataTable value="#{pedidoController.listarTodosProductoPedidos(pedidoController.pedido)}" var="pp" paginator="true" paginatorPosition="top" rows="5" widgetVar="productopedidoTable">
                                    <f:facet name="header">
                                        <h:outputText value="Lista de Productos Solicitados"/>
                                    </f:facet>
                                    <p:column>
                                        <h:outputText value="#{pp.cantidad} #{pp.idunidad.descripcion} de #{pp.idproducto.tipo} - #{pp.idproducto.nombre}"/>   
                                    </p:column>
                                </p:dataTable>
                            </div>
                            <div class="border round col ml-1">
                                <h4>Datos Cliente</h4>
                                <div class="row-2">
                                    <div class="col">
                                        <h:outputText value="Estado Pedido: #{pedidoController.pedido.estadopedido}"/>
                                    </div>
                                </div>
                                <p:separator/>

                                <div class="row">
                                    <div class="col">
                                        <h6>Observación Inicial</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col border rounded p-1 m-1">
                                        <h:outputText value="#{pedidoController.pedido.observacioninicial}"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <h6>Observación Entrega</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col border rounded p-1 m-1">
                                        <c:if test="#{session.getValue('rol') == 'Cliente Ext'|| session.getValue('rol') == 'Cliente Int'}">
                                            <h:outputText value="#{pedidoController.pedido.observacionentrega}"/>
                                        </c:if>
                                        <c:if test="#{session.getValue('rol') == 'Transportista'}">
                                            <c:if test="#{pedidoController.pedido.observacionentrega != null}">
                                                <h:outputText value="#{pedidoController.pedido.observacionentrega}"/>
                                            </c:if>
                                            <c:if test="#{pedidoController.pedido.estadopedido == 'Entregado'}">
                                                <c:if test="#{pedidoController.pedido.observacionentrega == null}">            

                                                    <p:inputTextarea id="textAreaObservacionEntrega" counter="CounterTextArea" value="#{pedidoController.pedido.observacionentrega}" maxlength="200" counterTemplate="Te quedan {0} caracteres." style="width:900px; height:100px"/>
                                                    <h:outputText id="CounterTextArea" />
                                                    <br></br>
                                                    <br></br>
                                                    <div class="col">
                                                        <p:commandButton update="@form" value="Ingresar Observación" action="#{pedidoController.modificarObservacionEntrega()}">
                                                            <p:confirm header="Ingresar Observación Sobre La Entrega" message="Al ingresar la observación después no podrá modificar ¿Continuar?"/>
                                                        </p:commandButton>
                                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                            <div class="col text-center">
                                                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                                                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                                            </div>
                                                        </p:confirmDialog>
                                                    </div>
                                                </c:if>
                                            </c:if>
                                        </c:if>          
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center_content">
                            <div class="col">
                                <c:if test="#{session.getValue('rol') != 'Productor'}">
                                    <c:if test="#{session.getValue('rol') == 'Cliente Ext'|| session.getValue('rol') == 'Cliente Int'}">
                                        <c:if test="#{pedidoController.pedido.estadopedido != 'Completado'}">
                                            <c:if test="#{pedidoController.pedido.estadopedido != 'Anulado'}">
                                                <c:if test="#{pedidoController.pedido.estadopedido == 'Entregado'||pedidoController.pedido.estadopedido == 'En Recorrido'}">
                                                    <p:commandButton update="@form" value="Completar Pedido" action="#{pedidoController.completarPedido()}">
                                                        <p:confirm header="Completar Pedido" message="Está por confirmar que el pedido efectivamente le ha llegado en buen estado y aceptó los productos ¿Continuar?"/>
                                                    </p:commandButton>
                                                </c:if>
                                                <c:if test="#{pedidoController.pedido.estadopedido == 'Requiere Validación' ||pedidoController.pedido.estadopedido == 'En Recorrido'||pedidoController.pedido.estadopedido == 'Entregado'}">
                                                    <p:commandButton update="@form" value="Anular Pedido" action="#{pedidoController.anularPedido()}">
                                                        <p:confirm header="ATENCIÓN!" message="Esta acción es Irreversible, Anular el pedido implica que no podrá seguir progresando, sabiendo esto ¿Continuar?"/>
                                                    </p:commandButton>

                                                </c:if>
                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                    <div class="col text-center">
                                                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                                    </div>
                                                </p:confirmDialog>
                                            </c:if>
                                        </c:if>
                                        <p:commandButton value="Volver" action="listaPedidos?faces-redirect=true"/>
                                    </c:if>
                                </c:if>
                                <c:if test="#{session.getValue('rol') == 'Transportista'}">

                                    <c:if test="#{pedidoController.pedido.estadopedido == 'En Recorrido' ||pedidoController.pedido.estadopedido == 'A Despachar'}">
                                        <c:if test="#{pedidoController.pedido.estadopedido == 'A Despachar'}">

                                            <p:commandButton update="@form" value="Pedido En Recorrido" action="#{pedidoController.cambiarEstadoaRecorrido()}">
                                                <p:confirm header="Comenzar Despacho del Pedido" message="Está por confirmar que va en recorrido¿Continuar?"/>
                                            </p:commandButton>
                                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <div class="col text-center">
                                                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                                </div>
                                            </p:confirmDialog>

                                        </c:if>
                                        <c:if test="#{pedidoController.pedido.estadopedido == 'En Recorrido'}">

                                            <p:commandButton update="@form" value="Pedido Entregado" action="#{pedidoController.cambiarEstadoEntregado()}">
                                                <p:confirm header="Entregar Pedido" message="Está por confirmar que el pedido efectivamente lo ha entregado ¿Continuar?"/>
                                            </p:commandButton>

                                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <div class="col text-center">
                                                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                                </div>
                                            </p:confirmDialog>

                                        </c:if>
                                    </c:if>

                                    <p:commandButton value="Volver" action="verPedidosTransportista?faces-redirect=true"/>
                                </c:if>
                                <c:if test="#{session.getValue('rol') == 'Productor'}">
                                    <p:commandButton value="Agregar Oferta" action="ofertarLotes?faces-redirect=true"/>
                                </c:if>
                            </div>

                        </div>

                    </div>
                    <br/><br/><br/><br/><br/><br/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

