<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Ver Ofertas Ingresadas</title>
    </h:head>
    <!-- Autor Juan Román -->
    <h:body>
        <ui:composition template="./MasterPage.xhtml">
            <ui:define name="content">

                <c:if test="#{session.getValue('rol') != 'Transportista'}">
                    <script type="text/javascript">
                        window.location.href = "index.xhtml";
                    </script>
                </c:if>

                <div class="container-fluid text-center border rounded p-2 m-2">
                    <h:form id="formOfertas">
                        <p:messages id="message" showDetail="true" closable="true">
                            <p:autoUpdate />
                        </p:messages>
                        <div class="container-fluid border rounded p-3">
                            <div class="row text-left">
                                <div class="col">

                                    <div class="row border rounded m-2">
                                        <div class="col">
                                            <p:dataTable id="SelecOfertas" var="o" value="#{ofertaController.listarOfertaTransporte()}"
                                                         paginator="true" paginatorPosition="top" rows="10"
                                                         emptyMessage="No tiene Ofertas Registradas">
                                                <f:facet name="header">
                                                    Ofertas Ingresadas
                                                </f:facet>
                                                <p:column >
                                                    <f:facet name="header" >
                                                        <h:outputText value="ID"/>
                                                    </f:facet>
                                                    <h:outputText value="#{o.idofertatransporte}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Subasta"/>
                                                    </f:facet>
                                                    <h:outputText value="#{o.idsubasta.nombresubasta}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Transporte"/>
                                                    </f:facet>
                                                    <h:outputText value=" ID #{o.idvehiculo.idvehiculo} - Clase #{o.idvehiculo.clase} - Frigorífico #{ofertaController.FrigorificoV(o.idvehiculo.frigorifico)}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Representante"/>
                                                    </f:facet>
                                                    <h:outputText value="#{o.idrepresentante.nombre} #{o.idrepresentante.appaterno} #{o.idrepresentante.apmaterno}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Costo"/>
                                                    </f:facet>
                                                    <h:outputText value="#{o.costotransporte}">
                                                        <f:convertNumber currencySymbol="$" groupingUsed="true" maxFractionDigits="0" type="currency" locale="es_CO" />
                                                    </h:outputText>
                                                </p:column>     
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Opciones"/>
                                                    </f:facet>
                                                    <p:commandButton
                                                        type="submit" onclick="return confirm('¿Seguro desea eliminarlo?')"
                                                        value="Eliminar"
                                                        action="#{ofertaController.eliminarOferta(o)}"
                                                        />
                                                </p:column>   
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

