<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <h:head>
        <title>Ver Subastas</title>
    </h:head>
    <!-- Autor Juan Román -->
    <h:body>
        <ui:composition template="./MasterPage.xhtml">
            <ui:define name="content">

                <c:if test="#{session.getValue('rol') != 'Transportista'}">
                    <script type="text/javascript">
                        window.location.href = "index.xhtml";
                    </script>
                </c:if>

                <div class="container-fluid text-center border rounded p-2 m-2">
                    <h:form id="formOfertas"> 
                        <p:messages id="message" showDetail="true" closable="true">
                            <p:autoUpdate />
                        </p:messages>
                        <div class="container-fluid border rounded p-3">
                            <div class="row text-left">
                                <div class="col">

                                    <div class="row border rounded m-2">
                                        <div class="col">
                                            <p:dataTable id="SelecSubasta" var="s" value="#{ofertaController.listarSubastas()}"
                                                         paginator="true" paginatorPosition="top" rows="10"
                                                         emptyMessage="No hay Subastas Registradas">
                                                <f:facet name="header">
                                                    Subastas Disponibles
                                                </f:facet>
                                                <p:column >
                                                    <f:facet name="header" >
                                                        <h:outputText value="ID"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.idsubasta}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="ID Pedido"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.idpedido.idpedido}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Representante"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.idrepresentante.nombre} #{s.idrepresentante.appaterno} #{s.idrepresentante.apmaterno}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Nombre Subasta"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.nombresubasta}" />
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Fecha de Publicacion"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.fechapublicacion}">
                                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Fecha de Término"/>
                                                    </f:facet>
                                                    <h:outputText value="#{s.fechatermino}">
                                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Ver Detalle"/>
                                                    </f:facet>
                                                    <p:commandButton value="Ingresar Oferta" action="#{ofertaController.prepareEditSubastaOferta(s)}"/>
                                                </p:column>
                                            </p:dataTable>                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

