/*AutoComplete Simple*/    
    .ui-datalist .ui-datalist-content {
        border:0 none
    }
     
    .ui-datalist ul {
        padding: 0px 10px 0 20px;
        margin: 5px 0;
    }
     
    .value {
        font-weight: bold;
    }
     
    .ui-autocomplete-itemtip {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    
    
    
    
    .filaHorizontal{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    }
    
    .seleccionarProductoDiv{}
    .ingresarProductoDiv{}
    
    div.invisible  
   {  
      display:none;  
   }  
  
   div.visible  
   {  
      display:block;  
   }  
   .vertical{
       float: next;
   }
   
   
/*Tab de Pasos*/   
body .ui-steps .ui-steps-item {
    width: 33%;
}
 
body .ui-state-highlight {
    text-shadow: none !important;
}
 
body .ui-steps.custom {
    margin-bottom: 90px;
    margin-top: 30px;
}
 
body .ui-steps.custom .ui-steps-item {
    height: 1px;
    padding: 0 1em;
    overflow: visible;
    border: 1px solid #c8c8c8;
    display: block;
    background-color: #FFFFFF;
}
 
body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number {
    background-color: #0081c2;
    color: #FFF;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: -20px;
    position: relative;
    top: -35px;
}
 
body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-title {
    margin-top: -6px;
}
 
body .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title {
    color: #555;
}
